<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Pella Topics</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script>
        function join(topicNum) {
            console.log(topicNum);
        }
    </script>
</head>
<body>
    <div class="container">
        <h2 class="title">주제 선택</h2>
        <p class="sub-title">아래 주제 중 하나를 선택해주세요.</p>
        <div class="topics">
            <button onclick="join(1)">상속세를 없애야 하는가?</button><br>
            <button onclick="join(2)">대중교통의 노약자석을 늘려야 하는가?</button><br>
            <button onclick="join(3)">자살은 정당화 할 수 있는가?</button><br>
            <button onclick="join(4)">청소년에게 감형 처벌을 해야하는가?</button><br>
            <button onclick="join(5)">인간은 태어날 때부터 선한가?</button><br>
            <button onclick="join(6)">사형제도를 폐지해야 하는가?</button>
        </div>
    </div>
</body>
</html>