<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <script>
        var wsUrl = "ws://localhost:8080/ws/chat";
        var roomId = "";
        var output;

        function init() {
            output = document.getElementById("output");
        }

        function openSocket() {
            websocket = new WebSocket(wsUrl);
            websocket.onopen = (e) => onOpen(e);
            websocket.onclose = (e) => onClose(e);
            websocket.onmessage = (e) => onMessage(e);
            websocket.onerror = (e) => onError(e);
        }

        function onOpen(e) {
            writeToScreen("연결 완료!");
            doSend(JSON.stringify({
                type: "ENTER",
                roomId: roomId,
                sender: document.getElementsByName("user_name")[0].value,
                message: "handshake"
            }));
        }

        function onClose(e) {
            writeToScreen("연결 해제");
        }

        function onMessage(e) {
            writeToScreen("<span style='color: blue;'>수신: " + e.data + "</span>");
            websocket.close();
        }

        function onError(e) {
            writeToScreen("<span style='color: red;'>에러: " + evt.data + "</span>");
        }

        function doSend(message) {
            writeToScreen("발신: " + message);
            websocket.send(message);
        }

        function writeToScreen(message) {
            var pre = document.createElement("p");
            pre.innerHTML = message;
            output.appendChild(pre);
        }

        window.addEventListener("load", init, false);

        function createRoom() {
            fetch("http://localhost:8080/chat?name=" + document.getElementsByName("room_name")[0].value, { method: "POST", body: JSON.stringify({name: "test"}) })
                .then(response => response.json())
                .then(data => {
                    roomId = data.roomId;
                    document.getElementsByName("room_id")[0].value = roomId;
                    writeToScreen("채팅방이 생성되었습니다. 채팅방 ID: " + roomId);
                });
        }
    </script>
</head>
<body>
    <div>
        <input name="room_name" type="text" placeholder="채팅방 이름 입력"/>
        <button onclick="createRoom()">채팅 방 만들기</button>
    </div>
    <div>
        <input name="room_id" type="text" placeholder="채팅방 ID"/>
        <button onclick="openSocket()">채팅 방 접속</button>
    </div>
    <input name="user_name" type="text" placeholder="유저명"/>
    <h2>WebSocket test</h2>
    <div id="output"></div>
</body>
</html>