<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Pella</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script>
        window.onload = function() {
            let topicsDiv = document.getElementsByClassName("topics")[0];
            fetch("/api/topics", { method: "GET" })
                .then(response => response.json())
                .then(data => {
                    data.forEach((topic) => {
                        let button = document.createElement("button");
                        button.innerHTML = topic.topic;
                        button.onclick = function() { join(topic.id); }
                        topicsDiv.appendChild(button);
                    });
                });
        }

        function join(topicId) {
            sessionStorage.setItem("topic_id", topicId);
            window.location.href = "/waiting";
        }
    </script>
</head>
<body>
    <div class="container">
        <h2 class="title">주제 선택</h2>
        <p class="sub-title">아래 주제 중 하나를 선택해주세요.</p>
        <div class="topics">
        </div>
    </div>
</body>
</html>