<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Waiting Room</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
    <div class="container">
        <a href="/" class="go-back">취소</a>
        <div class="waiting">
            <img src="/img/loading.gif" width="250px"/>
            <h2 style="color: #414141;">온 우주를 찾고 있습니다.</h2>
            <p style="color: #adadad;">잠시만 기다려주세요.</p>
        </div>
    </div>
</body>
</html>